body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    padding-left: 818px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase; 
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/Парень.png) 90% 100%/auto 85% no-repeat , url(../img/фон.jpg) center/cover no-repeat;
    box-shadow: inset 0 -15px 50px 0px rgba(132, 138, 149, 1);
}
.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#79818d;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.text1{
    width: 896px;
    margin: 108px auto;
    text-align: center;
}

.text1 h3{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 32px;
    text-transform: uppercase;
}
.container_photo{
    margin: 50px 0px 35px 0px;
}

.text1 p{
    text-align: left;
}

.button{
    width: 156px;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 16px;
    margin: 36px auto;
}

.button input{
    background: #fff;
}

.text2{
    width: 100%;
    height: 520px;
    text-align: center;
    background: url(../img/картинкафона.jpg) center/cover no-repeat;
}

.text2 h3{
    padding-top: 107px;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.column{
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
}

.column1{
    float: left;
    width: 210px;
    color:#79818d;
    font-size: 16px; 
    margin-left: 22px;
    margin-right: 22px;
}

.column1 p{
    color: #cf7600;
}

.text{
    font-size: 12px;
    
}

.text3{
    width: 1170px;
    color: #2c384a;
    margin: 36px auto;
    text-align: center;
}

.text3 h3{
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 98px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.text3 p{
    margin-bottom: 39px;
}

.post{
    margin-top: 40px;
    text-align: left;
    color:#79818d;
    font-size: 16px;
    
}

.post h4{
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #2c384a;
}

.post1{
    float: left;
    width: 202px;
}

.post1 form{
    width: 156px;
    text-align: center;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 16px;
    background: #63b5ae;
}

.post button{
    background: #63b5ae;
    color: white;
}

.post2{
    float: left;
    width: 848px;
    margin-left: 84px; 
}

.calc{
    width: 890px;
    color: #2c384a;
    margin: 316px auto;
    text-align: center;
    margin-bottom: 0px;
}

.calc h3{
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 98px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

#sitetype{
    height: 40px;
    width: 100%;
    text-align: center;
    color: #79818d;
    font-size: 13px;
    padding: 0px 16px;
    background: #eeeeee;
}

#design{
    height: 40px;
    width: 100%;
    text-align: center;
    color: #79818d;
    font-size: 13px;
    padding: 0px 16px;
    background: #eeeeee;
}

#adaptability{
    height: 40px;
    width: 100%;
    text-align: center;
    color: #79818d;
    font-size: 13px;
    padding: 0px 16px;
    background: #eeeeee;
}

.calc1{
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 36px;
}

.calc h4{
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 22px;
}

.values{
    margin-top: 26px;
}

.municipalities{
    float: left;
}

.number{
    text-align: right;
    font-size: 19px;
}

.text4{
    width: 100%;
    text-align: center;
    height: 520px;
    margin-top: 98px;
    background: url(../img/фон3.jpg) center/cover no-repeat;
    padding-top: 102px;
}

.text4 h3{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin-bottom: 32px;
}

.column{
    width: 1023px;
    height: 153px;
    margin-left: auto;
    margin-right: auto;
}
.column2{
    width: 255px;
    float: left;
    color: #323e4f;
}

.column h3{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin-top: 32px;
    margin-bottom: -2px;
}

.column2 p{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 32px;
    font-size: 11px;
}

.text5{
    width: 896px;
    color: #2c384a;
    margin: 36px auto;
    text-align: center;
}

.text5 h3{
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 98px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.photo{
    margin-top: 58px;
    margin-bottom: 34px;
}

.footer{
    width: 100%;
    text-align: center;
    height: 850px;
    margin-top: 91px;
    background: url(../img/Моиконтакты/фон.jpg) center/cover no-repeat;
    color: #fff;
    padding-top: 105px;
}

.footer h3{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.footer h4{
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
.data{
    margin-top: 32px;
}

.contacts{
    width: 602px;
    height: 70px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.contacts p{
    width: 200px;
    font-size: 12px;
    float: left;
    text-align: center;
}

.reviews{
    margin-top: 40px;
}
.reviews input{
    width: 350px;
    height: 34px;
    text-align: center;
    background: #d2d6dc;
    text-align: left;
    font-size: 13px;
    padding-left: 12px;
    margin: 46px 14px 14px 14px;
}

.reviews textarea{
    width: 734px;
    height: 94px;
    background: #eeeeee;
    text-align: center;
    background: #d2d6dc;
    font-size: 13px;
    text-align: left;
    padding-left: 12px;
    padding-top: 10px;
}

.send input{
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color:#fff;
    font-size: 16px;
    padding: 0px 16px;
    margin: 28px 14px 0px 14px;
}

.subtext{
    width: 100%;
    height: 92px;
    background: #344051;
    text-align: center;
    padding-top: 40px;
}

.map{
    width: 100%;
    height: 350px;
    background: url(../img/Моиконтакты/Карта.png) center/cover no-repeat;
}

.subtext small{
    color: #fff;
}
