html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 22px;
    float: left;
    line-height: 60px;
    font-weight: 600;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu a{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-animation: topshift 0.3s ease forwards;
    -o-animation: topshift 0.3s ease forwards;
    animation: topshift 0.3s ease forwards;
    opacity: 0;
}

#dropdownMenuLink{
    color: #fff;
}

main{
    width: 100%;
    height: 100%;
}

.main{
    height: 100%;
    background: url(../img/Парень.png) 90% 100%/auto 85% no-repeat, url(../img/фон.jpg) center/cover no-repeat;
    box-shadow: inset 0 -15px 50px 0px rgba(132, 138, 149, 1);
}

.menu a:visited{
    color: #fff;
}
.menu a:hover{
    color: #e88604;
}
.menu a:active{
    transform: scale(1.1);
}

.title_container input{
    transition: all 0.2s;
    transform: scale(1)
}
.title_container input:hover{
    background: #344051;
    color: #fff;
}
.title_container input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu a:nth-child(2){
    animation-delay: 0.3s;
}
.menu a:nth-child(3){
    animation-delay: 0.6s;
}
.menu a:nth-child(4){
    animation-delay: 0.9s;
}
.menu a:nth-child(5){
    animation-delay: 1.2s;
}
.menu a:nth-child(6){
    animation-delay: 1.5s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -300px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.title_container{
    width: 100%;
    float: left;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: titlemove 2.4s;
    -o-animation-delay: titlemove 2.4s;
    animation-delay: titlemove 2.4s;
}

.title_container h1{
    font-family: Arial, sans-serif; 
    font-size: 51px;
    font-weight: 600;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#79818d;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

@media (max-width: 991px){
    .title_container, .title_container h4, .title_container input{
        color: #fff;
        position: relative;
        z-index: 1;
    }
    .title_container input{
        border: 2px solid #fff;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.3)
    }
}

.text1{
    padding: 108px;
}

.information{
    text-align: center;
}

.text1 h3{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.text{
    font-weight: 400;
    word-spacing: 0,5x;
    font-size: 16px;
}

.text2{
    width: 100%;
    height: 60%;
    text-align: center;
    background: url(../img/картинкафона.jpg) center/cover no-repeat fixed;
}

.text2 h3{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.column1 p{
    color: #cf7600;
    text-align: center;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}

.case{
    text-align: center;
}

.text3{
    margin-top: 108px;
}

.text3 h3{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.text3 p{
    text-align: center;
}

.post{
    padding: 47px 0px;
    text-align: left;
    color:#79818d;
    font-size: 16px; 
}

.post h4{
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #2c384a;
}

.post1 a {
  display: block;
  vertical-align: top;
  padding: 10px 43px;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
  background-color: #63b5ae;
  background-clip: padding-box;
  border: 2px solid #63b5ae;
  border-color: #63b5ae;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #efefef, #4d8c87);
  background-image: -moz-linear-gradient(top, #efefef, #4d8c87);
  background-image: -o-linear-gradient(top, #efefef, #4d8c87);
  background-image: linear-gradient(to bottom, #efefef, #4d8c87);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.post1 a:hover {
  color: #dddee2;
  background-color: #15d8bb;
  background-image: -webkit-linear-gradient(top, #ccc, #4d8c87);
  background-image: -moz-linear-gradient(top, #ccc, #4d8c87);
  background-image: -o-linear-gradient(top, #ccc, #4d8c87);
  background-image: linear-gradient(to bottom, #ccc, #4d8c87);
}
.post1 a:active, .post1 a.active {
  background-color: #b42f32;
  border-color: #15d8bb #15d8bb #15d8bb;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

.post2{
    padding: 47px 0px;
}

.border{
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.calc h3{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 38px;
}

#sitetype, #design, #adaptability{
    height: 57px;
    width: 100%;
    color: #79818d;
    font-size: 13px;
    background: #eeeeee;
    border: none;
}

#sitetype, #design, #adaptability {
    cursor: pointer;
    display: block;
    padding: 10px;
}

#sitetype, #design, #adaptability:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204);
}

#sitetype, #design, #adaptability:active {
    background-color: #f8f8f8;
}

#sitetype, #design, #adaptability:hover,
#sitetype, #design, #adaptability {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8;
}

.calc h4{
    font-weight: bold;
    text-align: left;
    font-size: 19px;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 18px;
}

.calc1{
    border-bottom: 3px solid #d1d1d1;
    padding-bottom: 36px;
}

.values{
    margin-top: 26px;
}

.number{
    text-align: right;
    font-size: 20px;
    padding-right: 90px;
}

.text4{
    background: url(../img/фон3.jpg) center/cover no-repeat  fixed;
}

.text4 h3{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    
}

.statistics{
    text-align: center;
}

.column2{
    text-align: center;
}

.column2 h3{
    font-weight: bold;
    font-size: 26px;
    margin: 20px;
}

.column2 p{
    text-transform: uppercase;
    font-weight: 500;
}

.border a{
    display: block;
    vertical-align: top;
    padding: 10px 43px;
    font-family: inherit;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    background-color: #63b5ae;
    background-clip: padding-box;
    border: 2px solid #63b5ae;
    border-color: #63b5ae;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #efefef, #4d8c87);
    background-image: -moz-linear-gradient(top, #efefef, #4d8c87);
    background-image: -o-linear-gradient(top, #efefef, #4d8c87);
    background-image: linear-gradient(to bottom, #efefef, #4d8c87);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.border a:hover {
    color: #dddee2;
    background-color: #15d8bb;
    background-image: -webkit-linear-gradient(top, #ccc, #4d8c87);
    background-image: -moz-linear-gradient(top, #ccc, #4d8c87);
    background-image: -o-linear-gradient(top, #ccc, #4d8c87);
    background-image: linear-gradient(to bottom, #ccc, #4d8c87);
}
.border a:active, .border a.active {
    background-color: #b42f32;
    border-color: #15d8bb #15d8bb #15d8bb;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

.text5{
    color: #2c384a;
    text-align: center;
}

.text5 h3{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.text5 p{
    font-weight: 500;
}

.point{
    word-spacing: 8px;
}

footer{
    width: 100%;
    height: 80%;
    text-align: center;
    background: url(../img/Моиконтакты/фон.jpg) center/cover no-repeat;
    color: #fff;
}

footer h3{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

footer h4{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

footer p{
    font-size: 11px;
}

.reviews input{
    height: 34px;
    width: 100%;
    color: #79818d;
    font-size: 13px;
    background: #d2d6dc;
    border: none;
    margin-bottom: 10px;
}

.reviews textarea{
    height: 94px;
    width: 100%;
    color: #79818d;
    font-size: 13px;
    background: #d2d6dc;
    border: none;
}

.reviews input:focus, .reviews textarea:focus {
    background-color: #ffa937;
}

.send input{
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color:#fff;
    font-size: 16px;
    padding: 0px 16px;
}

.send input{
    transition: all 0.2s;
    transform: scale(1)
}
.send input:hover{
    background: #d2d6dc;
    color: #344051;
    border-color: #344051;
}
..send input:active{
    transform: scale(1.1);
}

.map{
    width: 100%;
    height: 38%;
    background: url(../img/Моиконтакты/Карта.png) center/cover no-repeat;
}

.subtext{
    width: 100%;
    height: 92px;
    background: #344051;
    text-align: center;
    padding-top: 40px;
    color: #fff;
}
